.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141414;
  padding: 20px;
  color: white;
}

.header .logo {
  font-size: 24px;
  font-weight: bold;
}

.header nav a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: 500;
}

.header nav a:hover {
  text-decoration: underline;
}

.logout-button {
  background-color: #e50914;
  border: none;
  color: white;
  padding: 10px 15px;
  margin-left: 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
}

.logout-button:hover {
  background-color: #f40612;
}
